## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
 a=4
 b=7
 c=b**a
 print(c)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [4]:
s="Hi there sam!"
n=s.split(" ")
print(n)

['Hi', 'there', 'sam!']

In [5]:
s="Hi there dad"
n=s.split(" ")
print(n)

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
v="the diameter of {planet} is {diameter} kilometers."
k=v.format(planet="Earth",diameter=12742)
print(k)

the diameter of Earth is 12742 kilometers.

In [7]:
v="the diameter of {planet} is {diameter} kilometers."
k=v.format(planet="Earth",diameter=12742)
print(k)

the diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
a=str(a)
b=a.strip('[').strip(']')
print(b)

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [10]:
#Tuple is immutable.
#Tuples operations are safe.
#Tuples consumes less memory.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [11]:
def domainGet(email):
  print(email.split('@')[-1])

In [13]:
email=input("Plase Enter your Email: >")
domainGet(email)

Plase Enter your Email: >user@domain.com
domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [19]:
def findDog(st):
  if 'dog' in st.lower():
    print("true")
  else:
      print("False")
st="Is there a dog here?"
findDog(st)

true

In [20]:
findDog(st)

true

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [6]:
def dog_count(sentence):
  word =sentence.split(' ')
  k=0
  for i in range(len(word)):
    words[i]=words[i].lower()
  for i in word:
     if(i=='dog'):
         k+=1
     return k

In [9]:
string = input("Please enter your string: ")

def countdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(string)

Please enter your string: dog
1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [4]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("You pass.")
    elif s > 61 and s <= 80:
        print("You get a small ticket")
    else:
        print("You get a big ticket.")

speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 80
Please enter your birthday: (in DD/MM/YYYY format)

> 07/11/2001
You get a small ticket

In [5]:
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("You pass.")
    elif s > 61 and s <= 80:
        print("You get a small ticket")
    else:
        print("You get a big ticket.")

speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 90
Please enter your birthday: (in DD/MM/YYYY format)

> 19/06/1999
You get a big ticket.

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [50]:
emp_sal=[500000,45000,700000,25000,35000]
total_salary_expenditure=0
for i in emp_sal:
  total_salary_expenditure +=i
  print('total salary expenditure is',total_salary_expenditure)

total salary expenditure is 500000
total salary expenditure is 545000
total salary expenditure is 1245000
total salary expenditure is 1270000
total salary expenditure is 1305000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [51]:
def Merge(dict1,dict2):
  return(dict2.update(dict1))
  dict1={'empid': 13, 'empname':'jack','basicpay':700000}
  dict2={'deptname': 'analytics','deptid':7}
  print(merge(dict1,dict2))
  print(dict2)